In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('datasets.csv')

Exploratory Data Analysis

In [9]:
import numpy as np

In [10]:
df = pd.read_csv('datasets.csv')

In [12]:
df = pd.read_csv('datasets.csv')
df.head()
#df.tail(6)

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [14]:
df.shape

(61, 6)

In [15]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

In [16]:
df.info

<bound method DataFrame.info of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

In [17]:
df=df.drop(['datasetName'], axis = 1)

In [18]:
df.head()

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [20]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

In [21]:
df= df.rename(columns=("about" "info"))
df.head()

TypeError: Index(...) must be called with a collection of some kind, 'aboutinfo' was passed

In [22]:
duplicate_rows_df = df(df.duplicated{})
print("number of duplicate rows:", duplicated_rows_df_shape)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3631583808.py, line 1)

In [23]:
print(df.isnull().sum())

about            0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

In [ ]:
df = df.dropna()  #Dropping the missing values

In [25]:
df = df.dropna()
df.count()

about           2
link            2
categoryName    2
cloud           2
vintage         2
dtype: int64

##Test against any random dataset.csv