In [ ]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [16]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

ModuleNotFoundError: No module named 'sklearn'

In [5]:
df = pd.read_csv('Salary_dataset.csv')

In [6]:
df = pd.read_csv('Salary_dataset.csv')
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [7]:
print(df.isnull().sum())

Unnamed: 0         0
YearsExperience    0
Salary             0
dtype: int64

In [8]:
y = df["Salary"]
x = df["YearsExperience"]

In [9]:
df=df.drop(["Unnamed: 0"], axis = 1)

In [10]:
df.count()

YearsExperience    30
Salary             30
dtype: int64

In [11]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [12]:
X_train, y_train, y_test = train_test_split(X,y,train_size=0.7,random_state=2529)

NameError: name 'train_test_split' is not defined

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
model.fit(X_train,y_train)

In [ ]:
model.intercept_

In [ ]:
X_train = X_train.values.reshape(-1,1)
X_test = X_test.values.reshape(-1,1)